/* Reset de estilos generales */

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #EFECFF;
    /* Color de fondo */
}

.barraNavegacion {
    background-color: #E5B2F6;
    /* Color de la barra de navegación */
    display: flex;
}

.navbar-nav .nav-link {
    color: #E23FE5;
    /* Color del texto de los enlaces de navegación */
}

.contMain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
    margin-top: 5%;
}

.contBanner {
    flex: 1;
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 20%;
}

.formLogin {
    flex: 1;
    background-color: #EFECFF;
    width: 50%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.tituloLogin {
    color: #7C0CB1;
    /* Color del texto del título del formulario */
}

.inputLogin {
    color: #7C0CB1;
    /* Color del texto de los labels */
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
}

#btnLogin {
    background-color: #7C0CB1;
    /* Color del botón */
    color: #ffffff;
    /* Color del texto del botón */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: underline;
}

#btnLogin:hover {
    background-color: #4d004d;
    /* Cambio de color al pasar el ratón sobre el botón */
}

p {
    color: #7C0CB1;
    text-decoration: underline;
}

span {
    color: #E23FE5;
}

b {
    color: #7C0CB1;
}

hr {
    width: 100%;
    border: none;
    height: 2px;
    background-color: black;
}

#btnRegistro,
#btnOlvidarContra {
    background-color: #7C0CB1;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

#btnRegistro:hover {
    background-color: #4d004d;
}

a {
    color: #7C0CB1;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}